body{
	margin: 0;
	padding-top: 50px;
	padding-bottom: 70px;
}

p{
    margin:0;
    padding:0;
}

/* 将轮播图的宽设置为100% */

.carousel-inner img{
	width: 100%;
}
/* 轮播图里面的文字描边+阴影 */
.carousel .item h1{
	text-shadow:0 0 2px black,5px 5px 5px #162866;	
}


/* theme_song表示电影主题曲板块*/
.theme_song{
   margin-top: 50px;
   margin-bottom: 20px;
}

/* 主题曲板块的栅格栏内容居中 */
.theme_song .col-md-4{
	padding-bottom: 40px;
	text-align: center;
}

/* 栅格栏每部分用一个box_的div包起来 */
.theme_song .box_{

	padding:20px 0 20px 0;
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	box-shadow:5px 5px 5px #E9E9E9;
}

/* 主题曲板块的文字描边+阴影 */
.theme_song h3{
	color: black;
    text-shadow:0 0 1px black;
}

.theme_song .song{
	display: inline-block;
	margin-top: 10px;
	width:240px;
	height:30px; 
	line-height: 30px;
	border: 1px solid #AAB2C9;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #AAB2C9;
	overflow: hidden;
}

/* 主题曲的播放器 */
.theme_song audio{
    margin: 0;
    padding: 0;
	width: 0;
	height: 0;
}

.time{
	/* float: right; */
	width: 35%;
}

.time p{
	display: inline-block;
	/* 谷歌字体最小为12px,可缩小比例改变字体大小 */
	-webkit-transform : scale(0.8);
	font-size: 12px;
}


.btn_audio{
	color: #162E6C;
	margin-left: 5px;
	margin-top: 2px;
	float: left;
	font-size: 20px;
	background: white;
}

.btn_audio:hover{
	color: #3F5286;
	cursor: pointer;
}

.time_bar{
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 8px;
    padding: 0 4px;
	width: 55%;
	height: 12px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 0px 5px gray;
	overflow: hidden;
}

.progress_bar{
	margin:5px 0;
	float: left;
	width: 0;
	height: 2px;
	background: #3F5286;
	border-radius: 2px;
	box-shadow: 0px 0px 2px gray;
}

.yuan{
	position: absolute;
	display: none;
	margin-top: 2px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
/* 	box-shadow: 0 0 1px #AAB2C9; */
	background-color:  #3F5286;
}

/* 分割线的样式 */
.divider_ {
	margin: 40px 0;
	color: black;

}

#movieIntroduced{
	padding-top: 50px;
}

/* 推荐电影部分 的标题样式 */
#movieIntroduced h2{
	padding:40px 0;
    text-shadow:0 0 1px #D1D1D1;
}

/* 推荐电影部分 的栅格栏内容居中 */
#movieIntroduced .col-md-4{
	text-align: center;
}

/* 推荐电影部分 的图片样式 */
#movieIntroduced img{
	margin:20px 0;
    box-shadow:2px 2px 2px gray;
    border-radius: 3px;
}

/* 底部样式 */
.footer_ p{
	margin: 0 50px;
}

.footer_ img{
	width: 50px;
	margin: 0 50px;
} 

/* 为了实现不同分辨率下，字体大小的变化等 */
/* 当分辨率小于992px的时候 */
@media (max-width: 992px) {

	/* 轮播图的字体大小 */
	.carousel-inner h1{
		font-size: 25px;
	}

}

@media (max-width: 500px) {

	/* 轮播图的标题大小 */
	.carousel-inner h1{
		font-size: 15px;
	}

	/* 主题曲部分 */
	.theme_song{
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.theme_song .song{
		width:175px;
	}

	/* 分割线部分 */
	.divider_ {
		margin: 10px 0 20px 0;
    }

    /* 主题曲的图片宽度 */
	.theme_song img{
		width: 150px;
	}

	/* 主题曲的标题部分 */
	.theme_song h3{
		font-size: 18px;
    }

    /* 推荐电影板块 的图片 */
    #movieIntroduced img{
    	width: 150px;
    }

    /* 推荐电影板块 的标题 */
    #movieIntroduced h2{
    	font-size: 15px;
    }

    /* 推荐电影板块 的段落 */
    #movieIntroduced p{
    	font-size: 12px;
    }
    .footer_ img{
	width: 25px;
	margin: 0 50px;
}

}